<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome |{% block title %}{% endblock  %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-pink-600">
    <nav class="flex item-center justify-between px-6 py-4 bg-pink-800">
        <div>
            <a href="/" class="text-xl text-white">Chatter</a>
        </div>
        <div class="flex item-center space-x-4">
            {% if request.user.is_authenticated %}
                <a href="/rooms/" class="py-2 text-white hover:text-gray-400">Rooms</a>
                <a href="/logout/" class="px-4 py-2 rounded-xl bg-pink-600 text-white hover:text-gray-400">Logout</a>
            
            {% else %}
                <a href="/login/" class="py-2 text-white hover:text-gray-400">Login</a>
                <a href="/signup/" class="px-4 py-2 rounded-xl text-white bg-pink-600 hover:text-gray-400">Signup</a>


            {% endif %}



        </div>
    </nav>

    {% block content %}{% endblock  %}

</body>
</html>